.app {
  height: 100vh;
  width: 100vw;
}

.marquee {
  width: 100vw;
  height: 300px;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  animation: scrollX 10s linear infinite;
}

@keyframes scrollX {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(30%);
  }
}

.marquee-content img {
  padding: 0 10px;
  border-radius: 20px;
}
